.grid {
  display: grid;
  grid-template-columns: repeat(var(--width), 30px);
  grid-template-rows: repeat(var(--height), 30px);
  gap: 2px;
  border: rgba(255, 255, 255, 0.101) 2px solid;
  background: linear-gradient(
    to right,
    #3e3e3e 0%,
    #262626 40%,
    #262626 60%,
    #3e3e3e 100%
  );
  background-size: 200%;
  animation: grid-wave 3s infinite linear;
}

@keyframes grid-wave {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.row {
  display: flex;
}
