.actionsBar {
  position: fixed;
  bottom: 5vh;
  left: 0;
  right: 0;
  border-radius: 20px;
  width: min(90vw, max(1000px, 50vw));
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
  border: none;
}

.actionsBar button {
  height: 70%;
  width: 200px;
  margin: auto 20px;
  border-radius: 20px;
  background: linear-gradient(140deg, #491da1, #c010ab);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.1s;
  border: none;
  cursor: pointer;
}

.actionsBar button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}
